
<div class="container mx-auto mt-10">
  <div class="flex flex-col lg:flex-row">
    <div class="w-full lg:w-1/2">
      <%= image_tag @product.product_images.first&.image_url, class: 'w-full h-96 object-cover rounded' %>
    </div>
    <div class="w-full lg:w-1/2 lg:ml-10 mt-8 lg:mt-0">
      <h1 class="text-3xl font-bold"><%= @product.name %></h1>
      <p class="text-gray-600 mt-4"><%= @product.description %></p>
      <p class="mt-6 text-lg font-semibold text-blue-500"><%= number_to_currency(@product.price) %></p>

      <%= button_to 'Add to Cart', cart_items_path(product_id: @product.id), method: :post, class: 'mt-4 bg-blue-500 text-white py-2 px-6 rounded' %>
    </div>
  </div>
</div>

