<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping Website</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  <%= javascript_include_tag "chartkick" %>
  <%= javascript_include_tag "Chart.bundle" %>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


  </head>
<body class="bg-gray-50">

  <%= render 'shared/header' %>

  <main class="mt-8">
    <%= yield %> 
  </main>

  <%= render 'shared/footer' %>

  <script>

    const menuButton = document.getElementById('mobile-menu-button');
    const mobileMenu = document.getElementById('mobile-menu');
    menuButton.addEventListener('click', () => {
      mobileMenu.classList.toggle('hidden');
    });
  </script>
</body>
</html>
